<!-- head通用部分 -->
<meta charset="utf-8">
<meta name="baidu-site-verification" content="ZECtUL3lAy"/>
<meta name="description" content="{dede:global.cfg_description/}"/>
<meta name="keywords" content="{dede:global.cfg_keywords/}"/>
<meta name="author" content="order by dedesos.com"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>{dede:global.cfg_webname/}</title>
<link rel="icon" href="https://cdn.meiguipai.net/baieweb/assets/static/favicon.ico">
<link rel="shortcut icon" href="https://cdn.meiguipai.net/baieweb/assets/static/favicon.ico">
<link href="{dede:global.cfg_templets_skin/}/style/bootstrap.min.css" rel="stylesheet"/>
<link href="/skin/css/swiper-3.3.1.min.css" rel="stylesheet"/>
<link href="{dede:global.cfg_templets_skin/}/style/yrjf.css" rel="stylesheet"/>
<link href="{dede:global.cfg_templets_skin/}/style/app.css" rel="stylesheet"/>
<link href="{dede:global.cfg_templets_skin/}/style/media.css" rel="stylesheet"/>
<!--[if IE]>
<script src="/skin/css/respond.js"></script>
<script src="/skin/css/html5.js"></script>
<![endif]-->
<!-- 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?64523922e3a0bb8fdfc9c7e9d61c0feb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c4c3efdacc727de600df4d221b325ab1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    (function(win){
        var doc = win.document,
            docEl = doc.documentElement,
            dpr = 0,
            timer;

        if (doc.readyState === 'complete') {
            refreshRem();
        } else {
            doc.addEventListener('DOMContentLoaded', function() {
                refreshRem()
            }, false);
        }

        win.addEventListener('resize', function() {
            clearTimeout(timer);
            timer = setTimeout(refreshRem, 300);
        }, false);
        win.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                clearTimeout(timer);
                timer = setTimeout(refreshRem, 300);
            }
        }, false);

        function refreshRem() {
            var deviceWidth = docEl.clientWidth;
            /*实际数值就等于设计图除以100，例如：设计稿上面是14px的话，计算成0.14rem */
            if(deviceWidth > 750) deviceWidth = 750;
            docEl.style.fontSize = deviceWidth / 7.5 + 'px';
            doc.body.style.fontSize = '12px';
        }

        if (!dpr) {
            var isIPhone = win.navigator.appVersion.match(/iphone/gi);
            var devicePixelRatio = win.devicePixelRatio;
            if (isIPhone) {
                if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {
                    dpr = 3;
                } else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
                    dpr = 2;
                } else {
                    dpr = 1;
                }
            } else {
                dpr = 1;
            }
        }

        docEl.setAttribute('data-dpr', dpr.toString());
    })(window)
</script>