<!-- 通用脚本部分 -->
<script src="/skin/css/jquery-1.10.1.min.js"></script>
<script src="/skin/css/bootstrap.min.js"></script>
<script src="/skin/css/aos.js"></script>
<script src="/skin/css/swiper-3.3.1.jquery.min.js"></script>
<script src="{dede:global.cfg_templets_skin/}/js/yrjf.js" id="JS" page="home"></script>
<script src="{dede:global.cfg_templets_skin/}/js/jquery-ias.min.js"></script>
<script src="{dede:global.cfg_templets_skin/}/js/validation.js"></script>
<script src="{dede:global.cfg_templets_skin/}/js/app.js"></script>