/* 走进百e */
.container, .container-fluid {
    min-width: 1200px;
}

.baie_honor {
    margin: 81px 0 0 0;
    padding: 0;
    width: 1160px;
    height: 310px;
    overflow: hidden;
    display: none;
}

.baie_honor2 {
    padding-bottom: 30px;
}

.baie_honor2 li {
    margin-bottom: 30px;
}

.baie_honor2 li:nth-child(n+4) {
    display: none;
}

.baie_honor2 li h1 {
    font-size: 25px;
    line-height: 36px;
}

.baie_honor2 li p {
    color: #666;
    font-size: 20px;
    line-height: 40px;
}

.baie_honor2>ul>div {
    width: 50px;
    height: 25px;
    margin: auto;
}

.baie_honor2_more_btn {
    width: 18px;
    height: 18px;
    margin: auto;
    border: #666 solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    transition: all .5s;
}


.baie_honor2>ul>div:hover {
    cursor: pointer;
}

.walk-swiper-container {
    height: 300px;
    position: relative;
}

.walk-swiper-container .swiper-slide {
    width: 500px;
    height: 220px;
    font-size: 18px;
    background: #fff;
    border: 1px #EAEAEA solid;
}

.walk-swiper-container .swiper-slide img {
    vertical-align: top;
    display: inline-block;
    margin: 60px 30px 0;
    width: 150px;
    height: 100px;
}

.walk-swiper-container .swiper-slide .right {
    display: inline-block;
    width: 240px;
    margin-top: 33px;
}

.walk-swiper-container .swiper-slide p {
    color: #666666;
    line-height: 36px;
    margin-top: 12px;
}

.walk-swiper-container .walk-swiper-scrollbar {
    height: 5px;
    width: 100%;
}

.swiper-button-prev {
    top: 110px;
}

.swiper-button-next {
    top: 110px;
}

.walk-swiper-container .swiper-scrollbar-drag {
    height: 10px;
    background: linear-gradient(135deg, #FF9343, #EA5503);
    border-radius: 0;
}

.walk-swiper-container .swiper-scrollbar-drag:hover {
    cursor: pointer;
}

.walkInBaie-scaleBox {
    position: relative;
}

.walkInBaie-scaleBox:hover {
    top: -15px;
    left: -15px;
    background: linear-gradient(135.8deg, rgba(255, 147, 67, 1), rgba(234, 85, 3, 1));
    box-shadow: 0 10px 20px 0 rgba(189, 189, 189, 0.5);
    z-index: 100;
}

.scaleBox-big {
    text-align: start;
    color: #FFF;
}

.scaleBox-big p {
    font-size: 28px;
}

.col-xs-3 .walkInBaie-scaleBox {
    width: 290px;
    height: 290px;
}

.col-xs-3 .walkInBaie-scaleBox:hover {
    width: 320px;
    height: 320px;
}

.col-xs-3 .scaleBox-big {
    padding: 60px 0 0 28px;
}

.col-xs-3 .scaleBox-big .under_line {
    margin: 28px 0 25px 0;
}

.col-xs-3 .scaleBox-big p {
    width: 196px;
}

.col-xs-6 .walkInBaie-scaleBox {
    width: 580px;
    height: 290px;
}

.col-xs-6 .walkInBaie-scaleBox:hover {
    width: 642px;
    height: 320px;
}

.col-xs-6 .scaleBox-small {
    padding: 84px 0 0 60px
}

.col-xs-6 .scaleBox-big {
    padding: 51px 0 0 70px;
}

.col-xs-6 .scaleBox-big .under_line {
    margin: 28px 0 25px 0;
}

.col-xs-6 .scaleBox-big p {
    width: 504px;
}

.walkInBaie-img-introduce {
    width: 540px;
    height: 410px;
    margin: -37px 120px 37px 40px;
    border-radius: 10px;
}

.walkIn_box1 .thumbnail .caption {
    padding: 0 39px;
}

.walkIn_box1 .thumbnail .caption h2{
    margin-top: 60px
}

.walkIn_box1 .title-box {
    margin: 80px 0 110px;
}

.introduce-underline {
    width: 76px;
    height: 3px;
    background-color: #333;
    margin: 30px 0 18px;
}

.walkIn_box2 .container-fluid {
    height: 100%;
    width:100%;
    background-size: cover;
}

.walkIn_box3 .title-box {
    margin: 90px 0 130px;
}

.baie-culture {
    display: none;
}

@media screen and (max-width: 750px) {
    .container, .container-fluid {
        min-width: 0;
    }

    .walkIn_box1 {
        padding-bottom: .6rem;
    }

    .baie_honor2 {
        padding-bottom: 0;
        padding-top: .5rem;
    }

    .baie_honor2 li {
        margin-bottom: .4rem;
    }

    .baie_honor2 li h1 {
        font-size: .36rem;
        line-height: .5rem;
    }

    .baie_honor2 li p {
        font-size: .28rem;
        line-height: .56rem;
    }

    .walkIn_box1 .thumbnail {
        width: 100%;
        padding: 0 .4rem;
        background-color: #fff;
    }

    .walkInBaie-img-introduce {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .walkIn_box1 .thumbnail .caption {
        width: 6.7rem;
        padding: .56rem 0 0;
    }

    .walkIn_box1 .thumbnail .caption h2{
        font-size: .36rem;
        line-height: .36rem;
        text-align: center;
        margin-top: 0;
    }

    .introduce-underline {
        width: .46rem;
        height: 2px;
        margin: .14rem auto .29rem;
    }

    .walkIn_box1 .caption p {
        width: 100%;
        height: auto;
        font-size: .28rem;
        line-height: .56rem;
    }

    .walkIn_box1 .baie_honor {
        display: none;
    }

    .walkIn_box1 .title-box {
        margin: .5rem 0;
    }

    .walkIn_box2 {
        height: auto;
    }

    .walkIn_box2 .row {
        display: none;
    }

    .walkIn_box2 .container-fluid {
        background-size: 100% 4.34rem;
        background-repeat: no-repeat;
        padding: 0 .4rem .7rem;
    }

    .baie-culture {
        display: block;
    }

    .baie-culture img {
        float: left;
        width: .68rem;
        margin: .22rem .5rem 0 0;
    }

    .baie-culture>div {
        clear: both;
        padding: .3rem;
        border-bottom: 1px solid #EAEAEA;
    }

    .baie-culture>div h1 {
        font-size: .36rem;
        line-height: .5rem;
    }

    .baie-culture>div p {
        color: #666;
        font-size: .28rem;
        line-height: .4rem;
    }

    .baie-culture .culture {
        padding: .66rem 0 .82rem;
        color: #fff;
        text-align: center;
        border-bottom-width: 0;
    }

    .baie-culture .culture .under_line {
        width: .64rem;
        height: 2px;
        margin: .2rem auto;
    }

    .baie-culture .culture p {
        color: #fff;
    }

    .baie-culture .value {
        padding: .56rem .80rem .44rem;
        background: #fff;
        border-radius: 10px;
        border-bottom-width: 0;
        box-shadow:0 6px 12px 0 rgba(189,189,189,0.5);
    }

    .baie-culture .value .under_line {
        width: .5rem;
        height: 2px;
        margin: .24rem 0 .48rem;
        background-color: #333;
    }

    .baie-culture .purpose {
        border-bottom-width: 0;
    }

    .walkIn_box3 .title-box {
        margin: .4rem 0;
    }

}