<!--招聘详情-弹出层-->
<div class="modal-box">
    <div class="back"><img src="/skin/images/back.jpg" alt="错误标识图"/></div>
    <div class="m-top">
        <span class="top-post">{dede:field.title/}</span>
        <span class="top-gs">{dede:field.zw/}</span>
    </div>
    <div class="m-request">
        <span>月薪：<span class="pay">{dede:field.yx/}</span></span>
        <span>工作经验：{dede:field.jy/}</span>
        <span>学历：{dede:field.xl/}</span>
        <span>工作地点：{dede:field.dd/}</span>
    </div>
    <div class="m-trait">
        <span style="background: #ff4f4f;">员工旅游</span> <span style="background: #ff4f4f;">季度+年终奖金</span>
    </div>
    <div class="m-text">
        <div class="text text1">
            {dede:field.body/}
        </div>
    </div>
    <div class="join"></div>
    <a href="javascript:;" style="display: none;" onclick="showBox({dede:field.id/})" class="post">我要应聘</a>
</div>

<script>
    $(".recruit-body .boxs").click(function () {
        $(".modal-join").addClass("active");
        $(".recruit-body").addClass("blur");
        $(".header,.nav,footer").addClass("blur");
    });
    $(".modal-join .back").click(function () {
        $(".modal-join").removeClass("active");
        $(".recruit-body").removeClass("blur");
        $(".header,.nav,footer").removeClass("blur");
        $(".show-product").html("");
    });
    $(".modal-join .join").click(function () {
        $(".upload-m").addClass("active");
    });
    $(".upload-m .back img").click(function () {
        $(".upload-m").removeClass("active");
    });
    verifyFormJoin();
</script>
<!--		 <script type="text/javascript">
		function valiFile(){
			var formMark = true;
			var errorMsg = '';
			
			$('#sendEm .upTxt').each(function(){			  
				var upVal = $.trim($(this).val());
				
				var msg = $(this).attr('msg').split('|');
				var reg = new RegExp($(this).attr('reg'));
				if(upVal == ''){
					errorMsg += msg[0]+'<br>';		
					return;
				}else if(!reg.test(upVal)){								
					errorMsg += msg[1]+'<br>';
				}
			});
			
			if(errorMsg != ''){
				artDialog({id:'tishi',title:'错误',content:errorMsg,width:200,height:96,fixed:true});
				formMark = false;
			}
			return formMark;
		}
		function showBox(hr_id){
			var formArray = [
				"<form method='post' action='/plus/diy.php' id='sendEm' onsubmit='return valiFile();' enctype='multipart/form-data'><input type=hidden name='action' value='post' /><input type='hidden' name='diyid' value='2' /><input type='hidden' name='do' value='2' />",
					"<p><label for='upName'>姓名：</label><em>*</em><input class='upTxt' type='text' id='upName' name='name' msg='请输入你的姓名！' reg='' /></p>",
					"<p><label for='upTel'>电话：</label><em>*</em><input class='upTxt' type='text' id='upTel' name='contact' msg='请输入你的电话号码！|电话号码格式不正确！' reg='^\\d{7,}$' /></p>",
					"<p><label for='upMail'>邮件：</label><em>*</em><input class='upTxt' type='text' id='upMail' name='mail' msg='请输入你的邮件地址！|邮件格式不正确！' reg='\\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+' /></p>",
					"<p>简历：<em>*</em><input type='file' class='upTxt upFile' msg='请选择你要上传的简历！' reg='' name='word_url'/></p>",
					"<input type='hidden' name='dede_fields' value='name,text;contact,text;mail,text;word_url,addon' /><input type='hidden' name='dede_fieldshash' value='b507782278948b6b730dcbdd41880db2' /><p><input type='submit' class='btn1' value='提交' /></p>",
					"<p><input type='hidden' name='hr_id' value='"+hr_id+"'></p>",
				"</form>"				 
			];
			
			artDialog({id:'showBox',title:"上传简历<span class='tishi'>格式为（word）</span>",width:420,height:90,fixed:true,content:formArray.join('')});
		}
		$(function(){
				$('#sendEm .upTxt').live('focus',function(){
					$(this).addClass('focusBd');	
				}).live('blur',function(){
					$(this).removeClass('focusBd');	
				});			   
  
		});
</script>!-->