<!--首页轮播-->
<div class="swiper-box" id="index_banner">
    <div class="swiper-container banner-swiper">
        <div class="swiper-wrapper">
            {dede:arclist typeid='41' channelid='1' addfields='promotion_url'}
            <div class="swiper-slide">
                <a href="[field:promotion_url/]">
                    <img src="[field:litpic/]" alt="轮播图"/>
                </a>
            </div>
            {/dede:arclist}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>