<div class="swiper-box">
    <div class="swiper-container banner-swiper">
        <div class="swiper-wrapper">
            {dede:arclist typeid='41' channelid='1' addfields='promotion_url'}
            <div class="swiper-slide">
                <a href="[field:promotion_url/]">
                    <img src="[field:litpic/]" alt="轮播图"/>
                </a>
            </div>
            {/dede:arclist}
        </div>
        <!-- Add Mask -->
        <!-- <div class="Mask"></div> --> 
        <!-- Add Pagination -->
        <div class="swiper-pagination" style="margin-right: 21%"></div>
    </div>
</div>